* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 4em;
    color: white;
    scroll-behavior: smooth;
}

.parallax_wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax_wrapper .intro_screen,
.parallax_wrapper .outro_screen,
.parallax_wrapper .middle_screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title {
    position: absolute;
    margin-top: 10vh;
}

.text{
    font-size: 2rem;
    position: absolute;
    margin-top: 30vh;
    text-align: center;
    width: 800px;
}

.nav-container {
    display: flex;
    position: absolute;
    margin-top: 30vh;
    
}

.li {
    background-color: gray;
    border-radius: 30px;
    padding: 1rem;
    margin: 0 0.5rem;
    height: 80px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#textChange {
    text-align: center;
    margin-left: -15vh;
}



.parallax_wrapper .intro_screen {
    background-image: url('../img/Berg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.parallax_wrapper .outro_screen {
    background-color: teal;
}

.parallax_wrapper .parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax_wrapper .parallax_group .parallax_layer {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
}

.parallax_wrapper .parallax_group .parallax_layer h2{
    display: block;
}

.parallax_wrapper .parallax_group .base_layer {
    transform: translateZ(-300px) scale(2);
    overflow: hidden;
}

#intro {
    z-index: 0;
    
}

#group-1 {
    z-index: -1;
}

#group-3 {
    z-index: -1;
}

#group-3>.base_layer {
    background-image: url('../img/Tent.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
}

#group-1>.base_layer {
    background-color: crimson;
}

#middle>.mid_layer {
    background-image: url('../img/Skog-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    z-index: 0;
}

#outro {
    z-index: 0;
    background-image: url('../img/Skog.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}